#ColorPalette {
    color: #EDEDC9;
    /*Palse Springbud: bg-ps*/
    color: #ba5624;
    /*Ruddy Brown: .bg-rb*/
    color: #73bfb8;
    /*Moonstone Blue: .bg-mb*/
    color: #3e363f;
    /*Onyx: .bg-on*/
    color: #173753;
    /*Space Cadet: .bg-sc*/
}

body {
    font: 2em sans-serif;
}

li {
    list-style: none;
}

.c-body {
    background-color: #e4e4de;
}

.card {
    border-radius: 0px;
    border: none;
}

.card-body {
    padding-bottom: 0px
}

.popover-header {
    color: #3e363f,
}

.moreInfo {
    cursor: help;
    text-decoration: none;
}

.c-head {
    width: 100%;
    position: relative;
    padding: 5.5%;
    color: white;
    text-align: center;
}

.acc:hover {
    opacity: .7;
}

.solid {
    min-height: 135px;
    padding: 0px;
    background: #EDEDC9;
    color: white;
}

.btn-dark {
    border: none;
    border-radius: 0;
    font-weight: bold;
}

.h-30 {
    height: 30% !important;
}

.h-45 {
    height: 45% !important;
}

.bg-sc {
    background-color: #173753;
}

.clr-sc {
    color: #173753;
}

.bg-on {
    background-color: #3e363f;
}

.clr-on {
    color: #3e363f;
}

.bg-mb {
    background-color: #73bfb8;
}

.clr-mb {
    color: #73bfb8;
}

.bg-rb {
    background-color: #ba5624;
}

.clr-rb {
    color: #ba5624;
}

.bg-pink {
    background-color: #DBAFC1;
}

.bg-st {
    background-color: #E5DA62;
}

.clr-st {
    color: #E5DA62;
}

.bg-ps {
    background-color: #EDEDC9;
}

.clr-ps {
    color: #EDEDC9;
}